/* Estilo Global Zaharic Commerce */

/* Deixa as bordas dos inputs mais escuras e definidas */
.form-control, .form-select {
    border: 1px solid #6c757d !important; /* Cinza mais escuro que o padrão */
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Efeito quando clica no campo (Focus) */
.form-control:focus, .form-select:focus {
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
    transform: translateY(-1px);
}

/* Padronização da Sidebar */
.sidebar {
    min-height: 100vh;
    background-color: #212529;
    padding-top: 20px;
}

.sidebar-heading {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.5;
    color: #adb5bd;
    padding: 1rem 1.5rem 0.5rem;
    text-uppercase: uppercase;
}

.nav-link {
    color: #dee2e6;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.nav-link:hover {
    background-color: #343a40;
    color: #fff;
    transform: translateX(5px);
}

.active-link {
    background-color: #0d6efd !important;
    color: white !important;
    border-radius: 0 25px 25px 0;
    margin-right: 10px;
}